<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header class="site-header">
      <nav class="nav">
        <a href="/" class="nav-home">Zenith</a>
      </nav>
    </header>

    <main class="main-content">{{ content }}</main>
  </body>
</html>
