@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-primary;
  background-color: $background;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
